@charset "EUC-KR";


html, body {
    background-color: #87b39d;
    height: 100%;
    color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


header, section, footer {
    background-color: #fff;
    margin: 1em 0;
    margin-right:10%;
    margin-left:10%;
    padding: 0.5em;
}

header nav{
	text-align:right;
}

header nav ul li {
	display:inline;
}

footer p{
	color:#c0c0c0;
}

.content article{
	text-align:left;
	margin:30px;
	margin-left:10%;
	margin-right:10%;
}


.photo{
	overflow:hidden;
	margin-top:50px;
}

.photo > div:nth-of-type(1) >img{
	float:left;
	width: 350px;
    height: 350px;
    border: 15px solid gray;
    margin-right:100px;
    margin-bottom:50px;
}

.photo > div:nth-of-type(2) > p{
	
	overflow:hidden;
	text-align:left;
}    

.btn{
	width:100px;
	height:30px;
	margin:2px;
}
.box-front{
	display:inline-block;
	border:1px solid;
	padding:30px;
	margin:5px;
	width:100px;
	background-color:#4794ad;

}

.box-front > p{
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
}

.hover:hover{
	color:#ff8000;
}

.shadow{
	box-shadow:1px 1px 10px;
}

.map-img{
	width:80%;
	height:600px;
	margin:30px;
}

